.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: sticky;
    margin-bottom: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: pink;
    display: flex;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

    a{
        color: green
    }
}
nav-li {
    display: inline;
}